/* CSS declarations go here */
.hidden_div{
	display:none;
}
/* give buttons some space */
.btn.btn-default {
		margin-bottom: 0.5em;
}

a#login-name-link,
a#login-sign-in-link {
	text-decoration: inherit;
	color:inherit;
	font-size: 1.2em;
}

.rating-field {
	font-size: 1.3em;
	padding: 0.4em;
	border-radius: 10px;
	background-color: #bfb;
}


/*prevent the login box from being half visible when viewed on mobile */
@media (max-width: 767px) {
	#login-buttons.login-buttons-dropdown-align-right #login-dropdown-list {
		left: inherit;
		right: inherit;
	}
}