/* CSS declarations go here */
.hidden_div{
	display:none;
}

a#login-name-link,
a#login-sign-in-link {
	text-decoration: inherit;
	color:inherit;
	font-size: 1.2em;
}

.rating-field {
	font-size: 1.3em;
	padding: 0.4em;
	border-radius: 10px;
	background-color: #bfb;
}